DB_USERNAME=root
DB_PASSWORD=your_mysql_password

JWT_SECRET=your_base64_jwt_secret
JWT_EXPIRATION=86400000

AZURE_STORAGE_CONNECTION_STRING=your_azure_connection_string
AZURE_STORAGE_CONTAINER=sporthub-images